<div class="bg-dark p-5">
  <h1 class="mb-4" style="color: white;">Cadastro de Produto</h1>
  <form [formGroup]="productFormsGroup">
    <div class="row mb-3">
      <div class="input-group">
        <div class="form-floating">
          <input class="form-control" placeholder="a" type="number" id="id" formControlName="id">
          <label for="id">Id</label>
        </div>
        <div class="form-floating">
          <input class="form-control" placeholder="a" type="text" id="name" formControlName="name">
          <label for="name">Nome</label>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="input-group">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Deixe uma descrição do item" id="description"
                    formControlName="description"></textarea>
          <label for="description">Descrição</label>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="input-group">
        <span class="input-group-text">R$</span>
        <div class="form-floating">
          <input class="form-control" placeholder="a" type="text" id="price" formControlName="price">
          <label for="price">Preço</label>
        </div>
        <div class="form-floating">
          <input class="form-control" placeholder="a" type="number" id="quantity" formControlName="quantity">
          <label for="price">Quantidade</label>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-outline-primary mb-3" (click)="save()">Salvar</button>
  </form>
  <h1 class="mb-4" style="color: white;">Lista de Produto</h1>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Preço</th>
        <th scope="col">Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products">
        <th scope="row">{{p.id}}</th>
        <td>{{p.name}}</td>
        <td>{{p.description}}</td>
        <td>R$ {{p.price}}</td>
        <td>{{p.quantity}}</td>
      </tr>
    </tbody>
  </table>
</div>
